*{
    padding: 0px;
    margin: 0px;
}
.col-2 h1 {
    font-size: 1.4em;
    font-weight: 600;
	margin-bottom: 20px;
}

.sub-header {
	margin-top:120px;
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #f6f6f6;
    text-align: center;
    justify-content: center;
    align-items: center;
	margin-bottom:40px;
}

.centered h1 {
    font-size: 30px;
    font-weight: 400;
    color: black;
    margin-block-end: 0;
}


.directory {
    font-size: 14px;
    font-weight: 400;
    color: #CC2121;
    margin-block-start: 0;
    margin-top: .7em;
    padding: 10px;
}
.contact-1{
    display:flex;
    margin-left: 100px;
    } 

.col-1{
    float:left;
    height:200px;
    width: 100%;
    margin-left: 100px;
}
.col-2{
    float: right;
    height:200px;
    width: 100%;
    margin-left: 100px;
}
.row-1-col-1{
    height: 60px;
    display: flex;
}
.row-2-col-1{
    height: 60px;
    display: flex;
}
textarea{
    float:left;
    background: #F6F6F6;
    width: 100%;
    margin-bottom: 20px;
}
 .row-1-col-1 input {
    width: 270px;
    margin-right: 20px;
    padding : 10px;
    background: #F6F6F6;
}
 .row-2-col-1 input {
    width: 270px;
    margin-right: 20px;
    padding : 10px;
    background: #F6F6F6;
}
.submit input[type="submit"]{
    width: 150px;
	height:50px;
    background-color: #CC2121;
    color: wheat;
    font-weight: bold;
    margin-top: 150px;
	margin-left: 195px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom:50px;
}
.submit input[type="submit"]:hover{
    background-color: black;
    cursor: pointer;   
}
.col-2 li{
    margin-bottom: 20px;
    border-bottom: 1px solid #555555;
    width: 400px;
	 padding-bottom: 10px;
}

#work{
    border-bottom: none;
}
.col-2 li p{
    margin-bottom: 10px;
    font-weight: bold;
}
#qe ul .fa{
    margin-right: 10px;
    color: black;
}
.col-2 ul{
    list-style: none;
}
/**/
.top-header{
  padding: 20px;
  padding-right: 0px;
  width: 100%;
  height: 15px;
  padding-left:0px;
  border-bottom: 1px solid gray;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
.message{
  font-size: 16px;
  text-transform: capitalize;
  font-family: cursive;
  font-weight: normal;
}
 label{
  color:#FF54E3;
}
.clock{
	color:black
}
.centered .fa{
	margin-right: 20px;
	font-size:18px;
	color:black
}
.message{
  float:left;
  width: 30%;
  margin-left: 50px;
}
.top-header-setting{
  float:right;
  width:50%;
  margin-left:0px;
}
.top-header-setting ul{
  list-style: none;
  margin-left: 300px;
  padding: 0px;
  text-align: center;
  display: inline-flex;
}
.top-header-setting ul li{
  padding:5px;
  width: 120px;
  margin: 0px;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 16px;
  font-family: sans-serif;
}
 .top-header-setting ul li:hover  {
  color: red;
}
.top-header-setting .fa{
  margin-left: 5px;
}
.dropdown-content {
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 15;
}
.dropdown-content ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.dropdown-content ul li a{
text-decoration: none;
width: 100px;
color: black;
text-transform: capitalize;
}
.dropdown-content ul li {
width: 100px;
color: black;
margin-top: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content ul {
  display: block;
}
.dropdown:hover .dropdown-content ul li {
  display: block;
  text-align: left;
}
.dropdown-content img{
  width:18px;
  height: 12px;
  padding-right: 5px;
}
/* nav bar*/
.header-nav-bar {
	top:56px;
	  width: 100%;
	  font-family: Raleway, sans-serif;
	  height: 80px;
	  padding-top: 11px;
	  position: fixed;
	padding-bottom: 10px;
	z-index:10;
	background-color:#ffffff;
}
.header-nav-bar figcaption span{
	padding-left: 10px;
	font-size:25px;
	font-family:cursive;
}
.header-nav-bar label.title{
	color:#FF5FE0;

}
.menu-bar,
.menu-bar ul,
.menu-bar ul li,
.menu-bar ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.menu-bar:after,
.menu-bar  ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.menu-bar {
  width:600px;
  height: 70px;
  padding-top:20px;
  margin-left: 190px;
  padding-left: 50px;
}
.menu-bar ul {
  background: #ffffff;
}
.menu-bar  ul  li {
  float: left;
}
.menu-bar.align-center  ul {
  font-size: 0;
  text-align: left;
}
.menu-bar .align-center  ul  li {
  display: inline-block;
  float: none;
}
.menu-bar .align-right  ul  li {
  float: right;
}
.menu-bar .align-right  ul  li  a {
  margin-right: 0;
  margin-left: -4px;
}
.menu-bar  ul  li  a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
.logo img{
	float:left;
	width:200px;
	height:70px;
  padding-top: 0px;
}
.menu-bar  ul  li.active1  a,
.menu-bar ul  li:hover  a,
.menu-bar  ul  li  a:hover {
  color: #ffffff;
  font-weight: bold;
}
.menu-bar  ul  li  a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
.menu-bar  ul  li.active1  a:after,
.menu-bar  ul  li:hover  a:after,
.menu-bar  ul  li  a:hover:after {
  background: #FF33FF;
}
/* search form*/
.fa-search{
	width:30px;
}
.search{
  position:relative;
  display: inline-block;
  left: 90%;
  bottom: 35px;
}
.search .fa{
  color:black;
  border-radius:5px;
  display:inline-block;
  padding:6px 7px 7px;
  font-size:18px;
  text-shadow:1px 0px 0px #FFffff;
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  cursor: pointer;
  z-index:10;
  position:relative;
}
.search .fa:hover{
  background: #FF33FF;
  color:#fff
  text-shadow:0px 0px 0px #FF33FF;
  box-shadow: inset 0px 0px 8px #FF33FF;
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
}
.search_form{
  background: #FF33FF;
  position:absolute;
  z-index:1;
  padding:0px 5px;
  right:0;
  top:15px;
  overflow: hidden;
  border-radius:10px;
  width: 20px;
  height:0px;
  transition: height 0.2s ease-out 0.5s , top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
  -webkit-transition: height 0.2s ease-out 0.5s , top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
}
.search_form form{
  opacity:0;
   transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
}
.search_form input{
  background:#fff;
  border:none;
}
.search_form input[type='text']{
  border-radius:5px 0 0 5px;
  width:150px;
  margin:0px 1px 0px 0;
  padding:0px 5px 1px;
  min-height:23px;
}
.search_form input[type='submit']{
  border-radius:0 5px  5px 0;
  font-family: cursive;
  font-size:12px;
  padding:0px 10px;
  padding-bottom:1px;
  min-height:24px;
  margin:0px 0px 0px 0;
  cursor: pointer;
  border-left-style: #FF33FF solid;
  border-left-width: 2.5px solid #FF33FF;
}
.search_form input[type='submit']:hover{
  background: gray;
  color:#fff
  text-shadow: 1px 3px 4px black;
  box-shadow: inset 0px 0px 8px white;
}
.search_box{
  visibility: hidden;
}
.search_box:checked~.search_form{
  width: 213px;
  height:24px;
  padding:5px;
  top:35px;
  transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
  -webkit-transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
}
.search_box:checked~.search_form form{
  opacity:1;
  transition:0.3s all ease-out 0.5s;
  -webkit-transition:0.3s all ease-out 0.5s;
}
.user {
background: #FF33FF;
position:absolute;
padding:0px 5px;
right:0;
top:20px;
overflow: hidden;
border-radius:10px;
width: 10px;
margin-right: 150px;
margin-top: 70px;
}
.user-list ul{
list-style:none;
margin:0px;
padding:0px;
border:2px solid gray;
 margin-right: 300px;
text-align: left;
width:100px;
background-color:#ff39ff;

}
.user-list ul li a{
text-decoration:none;
color:black;
}
.user-list ul li{
border:2px solid gray;
}
.user .fa{
  color:black;
  border-radius:5px;
  display:inline-block;
  padding:6px 7px 7px;
  font-size:18px;
  text-shadow:1px 0px 0px #FFffff;
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  cursor: pointer;
  z-index:10;
  position:relative;
}
.user .fa:hover{
			  background: #5dade2;
			  text-shadow:0px 0px 0px #21638F;
			  box-shadow: inset 0px 0px 8px #21638F;
			  transition:all 0.5s ease;
			  -webkit-transition:all 0.5s ease;
			}
.user-list{
			  background: #5dade2;
			  position:absolute;
			  z-index:0;
			  padding:0px 5px;
			  right:90%;
			  top:15px;
			  overflow: hidden;
			  border-radius:10px;
			  width: 20px;
			  height:0px;
			 margin-top: 22px;
			margin-right: 30px;
			}
.user_box{
			  visibility: hidden;
			}
.user_box:checked~.user-list {
			  display:block;
			  width: 100px;
			  padding-bottom: 70px
			}
			
.row{
  justify-content: flex-end;
  float: right;
  margin-right: 50px;
  height: 117px;
  width:20%
  padding:10px;
  margin-top: 23px;
  margin-bottom: -35px;
}
#find{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
}
.row ul{
display:inline-flex;
list-style: none;
}
.row ul li{
padding-left: 12px;
padding: 10px;
}

div.search{
  position:relative;
  display: inline;
  left: 90%;
  bottom: 35px;
}
.icon-search .fa{
  color:black;
  border-radius:5px;
  display:inline-block;
  padding:6px 7px 7px;
  font-size:18px;
  text-shadow:1px 0px 0px #FFffff;
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  cursor: pointer;
  z-index:0;
  position:relative;
}
.icon-search .fa:hover{
  background: #FF33FF;
  color:#fff
  text-shadow:0px 0px 0px #FF33FF;
  box-shadow: inset 0px 0px 8px #FF33FF;
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
}
div.search_form{
  background: #FF33FF;
  position:absolute;
  z-index:1;
  padding:0px 5px;
  right:0;
  top:15px;
  overflow: hidden;
  border-radius:10px;
  width: 20px;
  height:0px;
  margin-top: 20px;
  margin-right: 33px;
  transition: height 0.2s ease-out 0.5s , top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
  -webkit-transition: height 0.2s ease-out 0.5s , top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
}
div.search_form form{
  opacity:0;
   transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
}
div.search_form input{
  background:#fff;
  border:none;
}
.search_form input[type='text']{
  border-radius:5px 0 0 5px;
  width:150px;
  margin:0px 1px 0px 0;
  padding:0px 5px 1px;
  min-height:23px;
}
.search_form input[type='submit']{
  border-radius:0 5px  5px 0;
  font-family: cursive;
  font-size:12px;
  padding:0px 10px;
  padding-bottom:1px;
  min-height:24px;
  margin:0px 0px 0px 0;
  cursor: pointer;
  border-left-style: #FF33FF solid;
  border-left-width: 2.5px solid #FF33FF;
}
.search_form input[type='submit']:hover{
  background: gray;
  color:#fff
  text-shadow: 1px 3px 4px black;
  box-shadow: inset 0px 0px 8px white;
}
.search_box{
  visibility: hidden;
}
.search_box:checked~.search_form{
  width: 213px;
  height:24px;
  padding:5px;
  top:35px;
  transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
  -webkit-transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
}
.search_box:checked~.search_form form{
  opacity:1;
  transition:0.3s all ease-out 0.5s;
  -webkit-transition:0.3s all ease-out 0.5s;
}
.link .fa{
  color:black;
  border-radius:5px;
  display:inline-block;
  padding:6px 7px 7px;
  font-size:18px;
  text-shadow:1px 0px 0px #FFffff;
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  cursor: pointer;
  z-index:0;
  position:relative;
}
.link .fa:hover{
  background: #FF33FF;
  color:#fff
  text-shadow:0px 0px 0px #FF33FF;
  box-shadow: inset 0px 0px 8px #FF33FF;
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
}
#user-o:hover .dropdown-content {
  display: block;
}
#user-o:hover .dropdown-content ul {
  display: block;
}