body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #242424;
}
h3.page-title {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 25px;
}
table{
	border-collapse:collapse;
   border:1px solid black;
  
}
table thead{
	 background:#ebebeb;
}
.container-4 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	margin-top:300px;
}

.table table th  {
    border-top: medium none;
    color: #363f4d;
    font-size: 12px;
    font-weight: 500;
    padding: 21px 45px 22px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
.pro-dec-cart input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    color: #242424;
    height: 42px;
    padding: 0;
    text-align: center;
    width: 94px;
}
.table table td.product-thumbnail {
    width: 150px;
}
.table table td.product-name {
    width: 435px;
}
.table table td.product-price-cart {
    width: 196px;
}
.table table td.product-quantity {
    width: 100px;
}
.table table td.product-quantity {
    width: 130px;
}
.table table td.product-remove {
    width: 100px;
}
.table table tbody > tr {
    border-bottom: 1px solid #ebebeb;
}
.table table tbody > tr:last-child {
    border-bottom: 0px solid #ebebeb;
}
.table table td {
    color: #242424;
    font-size: 14px;
    padding: 30px 0;
    text-align: center;
}
.table table td.product-remove a {
    color: #aaa;
    font-size: 17px;
    margin: 0 13px;
}
.table table td.product-remove a:hover {
    color: #ff3d2a;
}
.cart-shiping-update-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 55px;
}
.cart-shiping-update  a{
    background-color: #f2f2f2;
    border-radius: 3px;
    color: #363f4d;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
}
.cart-shiping-update  a:hover {
    background-color: #ff3d2a;
    color: #fff;
}

.title-wrap {
    position: relative;
}

.h4.cart-bottom-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding-right: 18px;
}
.col-lg-12,.col-lg-4,.col-md-6,.col-md-12,.col-sm-12,.col-12{
	position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;
}
.col-lg-12{
	flex:0 0 100%;
	max-width:100%;
	}
.col-lg-4{
	flex:0 0 33.333333%;
	max-width:33.333333%;
	}
.col-md-6{
	flex:0 0 50%;
	max-width:50%;
	}
.col-md-12{
	flex:0 0 100%;
	max-width:100%;
	}
.col-sm-12{flex:0 0 100%;
max-width:100%;
}
.col-12{flex:0 0 100%;
max-width:100%;
}
	.cart-shiping-update-wrapper {
        display: block;
        padding: 30px 0 30px;
    }
	.cart-shiping-update  a {
        padding: 18px 25px 19px;
    }
	 .cart-shiping-update  a{
        margin: 0 0 15px;
        padding: 18px 35px 19px;
    }
.product-quantity button {
    background: #333 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    height: 40px;
    letter-spacing: 0.025em;
    line-height: 40px;
    margin-left: 20px;
    padding: 0 20px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.product-quantity button:hover {
    background: #ff5313 none repeat scroll 0 0;
}
.product-quantity .qtybutton {
    color: #454545;
    cursor: pointer;
    float: inherit;
    font-size: 16px;
    margin: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 20px;
    text-align: center;
}
.product-quantity .dec.qtybutton {
    border-right: 1px solid #e5e5e5;
    height: 40px;
    left: 0;
    padding-top: 8px;
    top: 0;
}
.product-quantity input.cart-plus-minus-box {
    color: #454545;
    float: left;
    font-size: 14px;
    height: 40px;
    margin: 0;
    width: 110px;
    background: transparent none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    padding: 0;
    text-align: center;
}
h4.grand-totall-title {
    color: #ff3d2a;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 25px;
}
h4.grand-totall-title span {
    float: right;
}
button.cart-btn-2 {
    background-color: #ff3d2a;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    padding: 13px 42px 14px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.container-4 a{
	text-decoration:none;
}

.grand-totall  a {
    background-color: #ff3d2a;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    padding: 18px 10px 19px;
    text-align: center;
    text-transform: uppercase;
}


.grand-totall  a:hover {
    background-color: #242424;
}
.total-shipping  h5 {
    font-size: 14px;
    margin: 0;
}
.total-shipping {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    margin: 0 0 27px;
    padding: 28px 0;
}
.total-shipping  ul {
    padding: 19px 0 0 40px;
}
.total-shipping ul li {
    color: #242424;
    list-style: outside none none;
    margin: 0 0 6px;
}
.total-shipping ul li:last-child {
    margin: 0 0 0px;
}
.total-shipping span{
	padding-left:10px;
}
.total-shipping ul li span {
}
.total-shipping ul li input {
    background: #e9e9e9 none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    border-radius: 5px !important;
    color: #626262;
    cursor: pointer;
    height: 13px;
    margin-right: 10px;
    padding: 0;
    position: relative;
    top: 2px;
    width: 13px;
}
div.grand-totall {
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 45px 30px 50px;
	margin-top: 150px;
	 margin-top: 200px;
}
}
.grand-totall  h5 {
    font-size: 14px;
    margin: 36px 0 27px;
}
.grand-totall  h5 span {
    float: right;
}
.grand-totall  h5 span {
    float: right;
    font-size: 18px;
    font-weight: 500;
}
.grand-totall {
        padding: 45px 20px 50px;
    }
	 .grand-totall {
        margin-top: 30px;
    }
	 .discount-code-wrapper {
        padding: 45px 18px 50px;
    }
    .discount-code-wrapper {
        margin: 40px 0;
    }
	 .cart-tax,
    .discount-code-wrapper {
        padding: 45px 20px 50px;
    }
.section-bg-gary-cart {
    background-color: #f9f9f9;
    position: relative;
    z-index: 9;
}
h4.cart-bottom-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding-right: 18px;
	top:-30px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.fa-pencil:before {
    content: "\f040";
}

.main-footer{
	margin-top:1600px;
}
.product-thumbnail img{
	width:86px;
	height:86px;
}
.sub-header {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #f6f6f6;
    text-align: center;
    justify-content: center;
    align-items: center;
	margin-bottom:40px;
	position:absolute;
	top:150px;
}
.centered h1{
	padding-bottom: 20px;
}
.centered p span{
	color:red;
}
.centered .fa{
	margin-right: 20px;
	font-size:18px;
	color:black
}
h5 {
	margin-top: -10px;
padding-bottom: 10px;
	
}